<div class="page-header">
  <h1>
    Local Artisanal Foods and Beverages
    <%= link_to new_product_url, :class => "btn btn-lg btn-success" do %>
      <i class="fa fa-plus"></i>
    <% end  %>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Products (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @products.each do |product| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Product #<%= product.id %></h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Name</dt>
          <dd><%= product.name %></dd>

          <dt>Description</dt>
          <dd><%= product.description %></dd>

        </dl>
        <div class="btn-group btn-group-justified">
          <%= link_to product_url(product), :class => "btn btn-primary" do %>
            <i class="fa fa-search-plus"></i>
          <% end %>
          <%= link_to edit_product_url(product), :class => "btn btn-warning" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to product_url(product), :method => "delete", :data => { :confirm => "Do you really want to delete this product?" }, :class => "btn btn-danger" do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
