<!-- Responsive panel example-->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">

<div class="list-group">
<%= form_tag products_at_store_path, method: "get" do %>
  <ul>
    <% @products.each_with_index do |p, index| %>
      <li>
      <a href="<%= link_to p %>" class="list-group-item"><%= p %></a>
      </li>
    <%end %>
  </ul>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Product #<%= @product.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><%= @product.name %></dd>

              <dt>Description</dt>
              <dd><%= @product.description %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to products_url, :class => "btn btn-primary" do %>
                <i class="fa fa-chevron-left"></i>
              <% end %>
              <%= link_to edit_product_url(@product.id), :class => "btn btn-warning" do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to product_url(@product.id), :method => "delete", :data => { :confirm => "Do you really want to delete this product?" }, :class => "btn btn-danger" do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<!-- End responsive panel example -->
